.bg-primary {
	background-color: $primary !important;
}

.bg-accent {
	background-color: $accent !important;
}

.bg-secondary {
	background-color: $secondary !important;
}

.bg-light {
	background-color: $light !important;
}

.bg-white {
	background-color: $white;
}