@font-face {
	font-family: "DMSans-Bold";
	src: url("../fonts/DMSans-Bold.ttf");
}

@font-face {
	font-family: "HKGrotesk-Regular";
	src: url("../fonts/hkgrotesk_regular.woff2");
}

body {
	font-family: 'HKGrotesk-Regular';
	font-weight: $font-weight-regular;
}

.font-accent {
	font-family: 'DMSans-Bold', sans-serif;
	font-weight: 700;
}
