.form-wrapper {
	padding: 1.5rem 2.5rem 3rem;
	background-color: $white;
	box-shadow: 0px 3px 15px 0 rgba(46, 61, 73, 0.2);
	border-radius: 0.5em;
}

.form {
	label {
		display: block;
		font-size: $font-weight-regular;
		font-weight: 600;
		line-height: 1.4em;
		color: $primary;
		margin-bottom: 0.2rem;
		margin-top: 1.5rem;
	}

	input,
	select,
	textarea {
		border: 1px solid gainsboro !Important;
		border-radius: 0.4rem !Important;
		box-shadow: none !important;
		color: black;
		display: block;
		font-weight: 500;
		font-size: $font-size-normal;
		outline: none !important;
		padding: 0.5rem 0.75rem;
		width: 100%;
		transition: all 0.4s ease;

		&:focus {
			border-color: $secondary !Important;
			transition: all 0.4s ease;
		}
	}

	textarea {
		line-height: $line-height-normal;
	}
	
	br{
		display: none !important;
	}
}

.wpcf7 .ajax-loader{
  bottom: 4.25rem !important;
	position: absolute !important;
  right: 3rem !important;
}

.wpcf7-response-output{
	border: 0 !important;
	padding: 0 !important;
	margin: 1.5rem 0 0 0 !important;
}

#comments{
	margin: 0 auto;
}

#comments, #respond, .comments-area, #wpdcom {
  max-width: 100%;
}

.wpd-prim-button{
	background-color: $secondary !important;
}

#wpdcom .wpd-thread-head .wpd-thread-info, #wpdcom .wpd-thread-head .wpdiscuz-user-settings {
  border-color: $secondary !important;
}
