/*
 * Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/styles.css" media="screen, projection" rel="stylesheet" type="text/css" />
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gothic+A1:300,400,500,600,700,800,900&display=swap");
/* line 5, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/partials/_fonts.scss */
body {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 400;
}

/* line 9, ../sass/partials/_fonts.scss */
.font-accent {
  font-family: 'Righteous', cursive;
  font-weight: 400;
}

/* line 14, ../sass/partials/_fonts.scss */
.currency {
  font-family: 'Roboto', sans-serif;
}

/* Theme */
/*
*
*Padding Container Mixins BEGIN
*
*/
/*
*
*Padding Container Mixins END
*
*/
/*
*
*Margin Container Mixins BEGIN
*
*/
/*
*
*Margin Container Mixins END
*
*/
/* line 1, ../sass/partials/global.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../sass/partials/global.scss */
img {
  max-width: 100%;
}

/* line 11, ../sass/partials/global.scss */
body {
  background-color: white;
  position: relative;
  overflow-x: hidden;
}

/* line 17, ../sass/partials/global.scss */
.noScroll {
  overflow: hidden;
}

/* line 21, ../sass/partials/global.scss */
.main-content {
  margin-top: 60px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 21, ../sass/partials/global.scss */
  .main-content {
    margin-top: 80px;
  }
}

/* line 29, ../sass/partials/global.scss */
[class*='col-'] {
  padding: 0;
}

/* line 33, ../sass/partials/global.scss */
a {
  color: #023060;
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: none;
  text-decoration-color: none;
  text-decoration-skip: none;
  transition: color 0.3s ease;
}

/* line 45, ../sass/partials/global.scss */
a::link {
  background-color: none;
}

/* line 49, ../sass/partials/global.scss */
a::visited {
  color: #023060;
}

/* line 53, ../sass/partials/global.scss */
a:hover {
  color: #68BCE2;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* line 61, ../sass/partials/global.scss */
a:active {
  color: #023060;
}

/* line 67, ../sass/partials/global.scss */
.container {
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 67, ../sass/partials/global.scss */
  .container {
    padding: 0;
  }
}

/* line 73, ../sass/partials/global.scss */
.row {
  margin: 0;
}

/* line 77, ../sass/partials/global.scss */
.full-width {
  width: 100%;
}

/* line 81, ../sass/partials/global.scss */
.grayscale {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

/* line 2, ../sass/partials/_typography.scss */
h1 {
  color: #023060;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 2, ../sass/partials/_typography.scss */
  h1 {
    font-size: 4rem;
  }
}

/* line 13, ../sass/partials/_typography.scss */
h2 {
  color: #023060;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 13, ../sass/partials/_typography.scss */
  h2 {
    font-size: 3rem;
  }
}

/* line 24, ../sass/partials/_typography.scss */
h3 {
  color: #023060;
  font-size: 1rem;
  font-weight: 700;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 24, ../sass/partials/_typography.scss */
  h3 {
    font-size: 2rem;
  }
}

/* line 34, ../sass/partials/_typography.scss */
p {
  font-size: 1rem;
  line-height: 1.7em;
}

/* line 39, ../sass/partials/_typography.scss */
.large-text {
  font-size: 1rem;
  line-height: 1.5em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 39, ../sass/partials/_typography.scss */
  .large-text {
    font-size: 1.5rem;
  }
}

/* line 48, ../sass/partials/_typography.scss */
.color-primary {
  color: #023060;
}

/* line 52, ../sass/partials/_typography.scss */
.color-secondary {
  color: #68BCE2;
}

/* line 58, ../sass/partials/_typography.scss */
.text-box h1,
.text-box h2,
.text-box h3,
.text-box h4,
.text-box h5,
.text-box h6 {
  line-height: 1.1em;
  margin-top: 5px;
  margin-bottom: 20px;
}
/* line 68, ../sass/partials/_typography.scss */
.text-box h1:first-child,
.text-box h2:first-child,
.text-box h3:first-child,
.text-box h4:first-child,
.text-box h5:first-child,
.text-box h6:first-child {
  padding-top: 0;
}
/* line 73, ../sass/partials/_typography.scss */
.text-box > h1 {
  font-size: 2em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 73, ../sass/partials/_typography.scss */
  .text-box > h1 {
    font-size: 2em;
  }
}
/* line 81, ../sass/partials/_typography.scss */
.text-box > h2 {
  font-size: 1.8em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 81, ../sass/partials/_typography.scss */
  .text-box > h2 {
    font-size: 1.8em;
  }
}
/* line 89, ../sass/partials/_typography.scss */
.text-box > h3 {
  font-size: 1.4em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 89, ../sass/partials/_typography.scss */
  .text-box > h3 {
    font-size: 1.4em;
  }
}
/* line 97, ../sass/partials/_typography.scss */
.text-box > h4 {
  font-size: 1.2em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 97, ../sass/partials/_typography.scss */
  .text-box > h4 {
    font-size: 1.2em;
  }
}
/* line 109, ../sass/partials/_typography.scss */
.text-box > p {
  line-height: 1.5em;
  margin-bottom: 20px;
}
/* line 113, ../sass/partials/_typography.scss */
.text-box > p:last-child {
  margin-bottom: 0;
}
/* line 118, ../sass/partials/_typography.scss */
.text-box strong {
  font-weight: 600;
}
/* line 124, ../sass/partials/_typography.scss */
.text-box ol li,
.text-box ul li {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 2em;
  margin-bottom: 10px;
}
/* line 130, ../sass/partials/_typography.scss */
.text-box ol li:last-child,
.text-box ul li:last-child {
  margin-bottom: 20px;
}
/* line 136, ../sass/partials/_typography.scss */
.text-box ol {
  padding-left: 20px;
  list-style-type: decimal;
}
/* line 140, ../sass/partials/_typography.scss */
.text-box ol li {
  padding-left: 20px;
}
/* line 145, ../sass/partials/_typography.scss */
.text-box ul {
  list-style-type: none;
}
/* line 148, ../sass/partials/_typography.scss */
.text-box ul li {
  display: flex;
}
/* line 152, ../sass/partials/_typography.scss */
.text-box ul li:before {
  content: '\f192';
  font-family: Fontawesome;
  padding-right: 2em;
}
/* line 158, ../sass/partials/_typography.scss */
.text-box ul li:last-child {
  margin-bottom: 20px;
}
/* line 164, ../sass/partials/_typography.scss */
.text-box img {
  display: inline-block;
  margin-bottom: 15px;
  height: auto;
}
/* line 170, ../sass/partials/_typography.scss */
.text-box iframe {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
/* line 177, ../sass/partials/_typography.scss */
.text-box.sm p {
  font-size: 0.9em;
  line-height: 1.7em;
}
/* line 183, ../sass/partials/_typography.scss */
.text-box table {
  font-size: 0.9em;
}
/* line 186, ../sass/partials/_typography.scss */
.text-box table thead {
  line-height: 1.2em;
}

/*
*
*Padding Begin
*
*/
/* line 7, ../sass/partials/_space.scss */
.no-padding {
  padding: 0;
}

/* line 14, ../sass/partials/_space.scss */
.padding-t-5 {
  padding-top: 5px;
}

/* line 18, ../sass/partials/_space.scss */
.padding-t-10 {
  padding-top: 10px;
}

/* line 22, ../sass/partials/_space.scss */
.padding-t-15 {
  padding-top: 15px;
}

/* line 26, ../sass/partials/_space.scss */
.padding-t-20 {
  padding-top: 20px;
}

/* line 30, ../sass/partials/_space.scss */
.padding-t-30 {
  padding-top: 30px;
}

/* line 34, ../sass/partials/_space.scss */
.padding-t-40 {
  padding-top: 40px;
}

/* line 38, ../sass/partials/_space.scss */
.padding-t-50 {
  padding-top: 50px;
}

/* line 42, ../sass/partials/_space.scss */
.padding-t-60 {
  padding-top: 60px;
}

/* line 46, ../sass/partials/_space.scss */
.padding-t-70 {
  padding-top: 70px;
}

/* line 50, ../sass/partials/_space.scss */
.padding-t-80 {
  padding-top: 80px;
}

/* line 54, ../sass/partials/_space.scss */
.padding-t-90 {
  padding-top: 90px;
}

/* line 58, ../sass/partials/_space.scss */
.padding-t-100 {
  padding-top: 100px;
}

/* line 62, ../sass/partials/_space.scss */
.padding-t-120 {
  padding-top: 120px;
}

/* line 66, ../sass/partials/_space.scss */
.padding-t-140 {
  padding-top: 140px;
}

/* line 74, ../sass/partials/_space.scss */
.padding-b-5 {
  padding-bottom: 5px;
}

/* line 78, ../sass/partials/_space.scss */
.padding-b-10 {
  padding-bottom: 10px;
}

/* line 82, ../sass/partials/_space.scss */
.padding-b-15 {
  padding-bottom: 15px;
}

/* line 86, ../sass/partials/_space.scss */
.padding-b-20 {
  padding-bottom: 20px;
}

/* line 90, ../sass/partials/_space.scss */
.padding-b-30 {
  padding-bottom: 30px;
}

/* line 94, ../sass/partials/_space.scss */
.padding-b-40 {
  padding-bottom: 40px;
}

/* line 98, ../sass/partials/_space.scss */
.padding-b-50 {
  padding-bottom: 50px;
}

/* line 102, ../sass/partials/_space.scss */
.padding-b-60 {
  padding-bottom: 60px;
}

/* line 106, ../sass/partials/_space.scss */
.padding-b-70 {
  padding-bottom: 70px;
}

/* line 110, ../sass/partials/_space.scss */
.padding-b-80 {
  padding-bottom: 80px;
}

/* line 114, ../sass/partials/_space.scss */
.padding-b-90 {
  padding-bottom: 90px;
}

/* line 118, ../sass/partials/_space.scss */
.padding-b-100 {
  padding-bottom: 100px;
}

/* line 126, ../sass/partials/_space.scss */
.padding-l-5 {
  padding-left: 5px;
}

/* line 130, ../sass/partials/_space.scss */
.padding-l-10 {
  padding-left: 10px;
}

/* line 134, ../sass/partials/_space.scss */
.padding-l-15 {
  padding-left: 15px;
}

/* line 138, ../sass/partials/_space.scss */
.padding-l-20 {
  padding-left: 20px;
}

/* line 142, ../sass/partials/_space.scss */
.padding-l-30 {
  padding-left: 30px;
}

/* line 146, ../sass/partials/_space.scss */
.padding-l-40 {
  padding-left: 40px;
}

/* line 150, ../sass/partials/_space.scss */
.padding-l-50 {
  padding-left: 50px;
}

/* line 154, ../sass/partials/_space.scss */
.padding-l-60 {
  padding-left: 60px;
}

/* line 158, ../sass/partials/_space.scss */
.padding-l-70 {
  padding-left: 70px;
}

/* line 162, ../sass/partials/_space.scss */
.padding-l-80 {
  padding-left: 80px;
}

/* line 170, ../sass/partials/_space.scss */
.padding-r-5 {
  padding-right: 5px;
}

/* line 174, ../sass/partials/_space.scss */
.padding-r-10 {
  padding-right: 10px;
}

/* line 178, ../sass/partials/_space.scss */
.padding-r-15 {
  padding-right: 15px;
}

/* line 182, ../sass/partials/_space.scss */
.padding-r-20 {
  padding-right: 20px;
}

/* line 186, ../sass/partials/_space.scss */
.padding-r-30 {
  padding-right: 30px;
}

/* line 190, ../sass/partials/_space.scss */
.padding-r-40 {
  padding-right: 40px;
}

/* line 194, ../sass/partials/_space.scss */
.padding-r-50 {
  padding-right: 50px;
}

/* line 198, ../sass/partials/_space.scss */
.padding-r-60 {
  padding-right: 60px;
}

/* line 202, ../sass/partials/_space.scss */
.padding-r-70 {
  padding-right: 70px;
}

/* line 206, ../sass/partials/_space.scss */
.padding-r-80 {
  padding-right: 80px;
}

/* line 214, ../sass/partials/_space.scss */
.padding-tb-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 218, ../sass/partials/_space.scss */
.padding-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 222, ../sass/partials/_space.scss */
.padding-tb-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

/* line 226, ../sass/partials/_space.scss */
.padding-tb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 230, ../sass/partials/_space.scss */
.padding-tb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* line 234, ../sass/partials/_space.scss */
.padding-tb-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 238, ../sass/partials/_space.scss */
.padding-tb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

/* line 242, ../sass/partials/_space.scss */
.padding-tb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* line 246, ../sass/partials/_space.scss */
.padding-tb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

/* line 250, ../sass/partials/_space.scss */
.padding-tb-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}

/* line 257, ../sass/partials/_space.scss */
.padding-lr-1 {
  padding-left: 1px;
  padding-right: 1px;
}

/* line 261, ../sass/partials/_space.scss */
.padding-lr-2 {
  padding-left: 2px;
  padding-right: 2px;
}

/* line 265, ../sass/partials/_space.scss */
.padding-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}

/* line 269, ../sass/partials/_space.scss */
.padding-lr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

/* line 273, ../sass/partials/_space.scss */
.padding-lr-15 {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 277, ../sass/partials/_space.scss */
.padding-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

/* line 281, ../sass/partials/_space.scss */
.padding-lr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 285, ../sass/partials/_space.scss */
.padding-lr-40 {
  padding-left: 40px;
  padding-right: 40px;
}

/* line 289, ../sass/partials/_space.scss */
.padding-lr-50 {
  padding-left: 50px;
  padding-right: 50px;
}

/* line 293, ../sass/partials/_space.scss */
.padding-lr-60 {
  padding-left: 60px;
  padding-right: 60px;
}

/* line 297, ../sass/partials/_space.scss */
.padding-lr-70 {
  padding-left: 70px;
  padding-right: 70px;
}

/* line 301, ../sass/partials/_space.scss */
.padding-lr-80 {
  padding-left: 80px;
  padding-right: 80px;
}

/* line 309, ../sass/partials/_space.scss */
.padding-o-5 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 313, ../sass/partials/_space.scss */
.padding-o-10 {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/* line 317, ../sass/partials/_space.scss */
.padding-o-15 {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 321, ../sass/partials/_space.scss */
.padding-o-20 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 325, ../sass/partials/_space.scss */
.padding-o-30 {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

/* line 329, ../sass/partials/_space.scss */
.padding-o-40 {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 333, ../sass/partials/_space.scss */
.padding-o-50 {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

/* line 337, ../sass/partials/_space.scss */
.padding-o-60 {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
}

/* line 341, ../sass/partials/_space.scss */
.padding-o-70 {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 70px;
}

/* line 345, ../sass/partials/_space.scss */
.padding-o-80 {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 80px;
  padding-right: 80px;
}

/*
*
*Padding END
*
*/
/*
*
*Margin Begin
*
*/
/* line 364, ../sass/partials/_space.scss */
.margin-t-5 {
  margin-top: 5px;
}

/* line 368, ../sass/partials/_space.scss */
.margin-t-10 {
  margin-top: 10px;
}

/* line 372, ../sass/partials/_space.scss */
.margin-t-15 {
  margin-top: 15px;
}

/* line 376, ../sass/partials/_space.scss */
.margin-t-20 {
  margin-top: 20px;
}

/* line 380, ../sass/partials/_space.scss */
.margin-t-30 {
  margin-top: 30px;
}

/* line 384, ../sass/partials/_space.scss */
.margin-t-40 {
  margin-top: 40px;
}

/* line 388, ../sass/partials/_space.scss */
.margin-t-50 {
  margin-top: 50px;
}

/* line 392, ../sass/partials/_space.scss */
.margin-t-60 {
  margin-top: 60px;
}

/* line 396, ../sass/partials/_space.scss */
.margin-t-70 {
  margin-top: 70px;
}

/* line 400, ../sass/partials/_space.scss */
.margin-t-80 {
  margin-top: 80px;
}

/* line 408, ../sass/partials/_space.scss */
.margin-b-5 {
  margin-bottom: 5px;
}

/* line 412, ../sass/partials/_space.scss */
.margin-b-10 {
  margin-bottom: 10px;
}

/* line 416, ../sass/partials/_space.scss */
.margin-b-15 {
  margin-bottom: 15px;
}

/* line 420, ../sass/partials/_space.scss */
.margin-b-20 {
  margin-bottom: 20px;
}

/* line 424, ../sass/partials/_space.scss */
.margin-b-30 {
  margin-bottom: 30px;
}

/* line 428, ../sass/partials/_space.scss */
.margin-b-40 {
  margin-bottom: 40px;
}

/* line 432, ../sass/partials/_space.scss */
.margin-b-50 {
  margin-bottom: 50px;
}

/* line 436, ../sass/partials/_space.scss */
.margin-b-60 {
  margin-bottom: 60px;
}

/* line 440, ../sass/partials/_space.scss */
.margin-b-70 {
  margin-bottom: 70px;
}

/* line 444, ../sass/partials/_space.scss */
.margin-b-80 {
  margin-bottom: 80px;
}

/* line 448, ../sass/partials/_space.scss */
.margin-b-90 {
  margin-bottom: 90px;
}

/* line 452, ../sass/partials/_space.scss */
.margin-b-100 {
  margin-bottom: 100px;
}

/* line 460, ../sass/partials/_space.scss */
.margin-l-5 {
  margin-left: 5px;
}

/* line 464, ../sass/partials/_space.scss */
.margin-l-10 {
  margin-left: 10px;
}

/* line 468, ../sass/partials/_space.scss */
.margin-l-15 {
  margin-left: 15px;
}

/* line 472, ../sass/partials/_space.scss */
.margin-l-20 {
  margin-left: 20px;
}

/* line 476, ../sass/partials/_space.scss */
.margin-l-30 {
  margin-left: 30px;
}

/* line 480, ../sass/partials/_space.scss */
.margin-l-40 {
  margin-left: 40px;
}

/* line 484, ../sass/partials/_space.scss */
.margin-l-50 {
  margin-left: 50px;
}

/* line 488, ../sass/partials/_space.scss */
.margin-l-60 {
  margin-left: 60px;
}

/* line 492, ../sass/partials/_space.scss */
.margin-l-70 {
  margin-left: 70px;
}

/* line 496, ../sass/partials/_space.scss */
.margin-l-80 {
  margin-left: 80px;
}

/* line 504, ../sass/partials/_space.scss */
.margin-r-5 {
  margin-right: 5px;
}

/* line 508, ../sass/partials/_space.scss */
.margin-r-10 {
  margin-right: 10px;
}

/* line 512, ../sass/partials/_space.scss */
.margin-r-15 {
  margin-right: 15px;
}

/* line 516, ../sass/partials/_space.scss */
.margin-r-20 {
  margin-right: 20px;
}

/* line 520, ../sass/partials/_space.scss */
.margin-r-30 {
  margin-right: 30px;
}

/* line 524, ../sass/partials/_space.scss */
.margin-r-40 {
  margin-right: 40px;
}

/* line 528, ../sass/partials/_space.scss */
.margin-r-50 {
  margin-right: 50px;
}

/* line 532, ../sass/partials/_space.scss */
.margin-r-60 {
  margin-right: 60px;
}

/* line 536, ../sass/partials/_space.scss */
.margin-r-70 {
  margin-right: 70px;
}

/* line 540, ../sass/partials/_space.scss */
.margin-r-80 {
  margin-right: 80px;
}

/* line 548, ../sass/partials/_space.scss */
.margin-tb-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 552, ../sass/partials/_space.scss */
.margin-tb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 556, ../sass/partials/_space.scss */
.margin-tb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 560, ../sass/partials/_space.scss */
.margin-tb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 564, ../sass/partials/_space.scss */
.margin-tb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 568, ../sass/partials/_space.scss */
.margin-tb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 572, ../sass/partials/_space.scss */
.margin-tb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 576, ../sass/partials/_space.scss */
.margin-tb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* line 580, ../sass/partials/_space.scss */
.margin-tb-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

/* line 584, ../sass/partials/_space.scss */
.margin-tb-80 {
  margin-top: 80px;
  margin-bottom: 80px;
}

/* line 591, ../sass/partials/_space.scss */
.margin-lr-5 {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 595, ../sass/partials/_space.scss */
.margin-lr-10 {
  margin-left: 10px;
  margin-right: 10px;
}

/* line 599, ../sass/partials/_space.scss */
.margin-lr-15 {
  margin-left: 15px;
  margin-right: 15px;
}

/* line 603, ../sass/partials/_space.scss */
.margin-lr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

/* line 607, ../sass/partials/_space.scss */
.margin-lr-30 {
  margin-left: 30px;
  margin-right: 30px;
}

/* line 611, ../sass/partials/_space.scss */
.margin-lr-40 {
  margin-left: 40px;
  margin-right: 40px;
}

/* line 615, ../sass/partials/_space.scss */
.margin-lr-50 {
  margin-left: 50px;
  margin-right: 50px;
}

/* line 619, ../sass/partials/_space.scss */
.margin-lr-60 {
  margin-left: 60px;
  margin-right: 60px;
}

/* line 623, ../sass/partials/_space.scss */
.margin-lr-70 {
  margin-left: 70px;
  margin-right: 70px;
}

/* line 627, ../sass/partials/_space.scss */
.margin-lr-80 {
  margin-left: 80px;
  margin-right: 80px;
}

/* line 635, ../sass/partials/_space.scss */
.margin-o-5 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 639, ../sass/partials/_space.scss */
.margin-o-10 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

/* line 643, ../sass/partials/_space.scss */
.margin-o-15 {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

/* line 647, ../sass/partials/_space.scss */
.margin-o-20 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

/* line 651, ../sass/partials/_space.scss */
.margin-o-30 {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

/* line 655, ../sass/partials/_space.scss */
.margin-o-40 {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

/* line 659, ../sass/partials/_space.scss */
.margin-o-50 {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

/* line 663, ../sass/partials/_space.scss */
.margin-o-60 {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 60px;
  margin-right: 60px;
}

/* line 667, ../sass/partials/_space.scss */
.margin-o-70 {
  margin-top: 70px;
  margin-bottom: 70px;
  margin-left: 70px;
  margin-right: 70px;
}

/* line 671, ../sass/partials/_space.scss */
.margin-o-80 {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 80px;
  margin-right: 80px;
}

/* line 676, ../sass/partials/_space.scss */
.row-5 {
  margin-left: -5px;
  margin-right: -5px;
}

/* line 681, ../sass/partials/_space.scss */
.row-10 {
  margin-left: -10px;
  margin-right: -10px;
}

/* line 686, ../sass/partials/_space.scss */
.row-15 {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 691, ../sass/partials/_space.scss */
.row-20 {
  margin-left: -20px;
  margin-right: -20px;
}

/* line 696, ../sass/partials/_space.scss */
.row-30 {
  margin-left: -30px;
  margin-right: -30px;
}

/* line 701, ../sass/partials/_space.scss */
.row-40 {
  margin-left: -40px;
  margin-right: -40px;
}

/* line 706, ../sass/partials/_space.scss */
.row-60 {
  margin-left: -60px;
  margin-right: -60px;
}

/* line 711, ../sass/partials/_space.scss */
.row-80 {
  margin-left: -80px;
  margin-right: -80px;
}

/*
*
*Margin END
*
*/
/* line 722, ../sass/partials/_space.scss */
.padding-o-10-percent {
  padding: 40px 20px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 722, ../sass/partials/_space.scss */
  .padding-o-10-percent {
    padding: 10%;
  }
}

/* line 730, ../sass/partials/_space.scss */
.no-pb-md {
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 730, ../sass/partials/_space.scss */
  .no-pb-md {
    padding-bottom: 0;
  }
}

/* line 1, ../sass/partials/_buttons.scss */
.button, .form input[type="submit"] {
  display: inline-block;
  font-weight: 600 !important;
  text-align: center !important;
  padding: 1em 2em !important;
  border: 0 !important;
  outline: 0 !important;
  border: 1px solid transparent !important;
  border-radius: 0.25em !important;
  cursor: pointer !important;
  text-transform: uppercase;
  transition: all 0.4s ease !important;
}
/* line 14, ../sass/partials/_buttons.scss */
.button:hover, .form input[type="submit"]:hover {
  transition: all 0.4s ease;
}

/* line 19, ../sass/partials/_buttons.scss */
.button-primary {
  color: white !important;
  background-color: #023060 !important;
}
/* line 23, ../sass/partials/_buttons.scss */
.button-primary:hover {
  color: white !important;
  background-color: #034596 !important;
}

/* line 29, ../sass/partials/_buttons.scss */
.button-secondary, .form input[type="submit"] {
  background-color: #68BCE2 !important;
  color: white !important;
}
/* line 33, ../sass/partials/_buttons.scss */
.button-secondary:hover, .form input[type="submit"]:hover {
  color: white !important;
  background-color: #88AAD3 !important;
}

/* line 39, ../sass/partials/_buttons.scss */
.form input[type="submit"] {
  margin: 1.5rem 0 0 0;
}

/* line 1, ../sass/partials/_navigation.scss */
.page-header {
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid gainsboro;
  display: flex;
  font-weight: 400;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_navigation.scss */
  .page-header {
    height: 80px;
  }
}
/* line 18, ../sass/partials/_navigation.scss */
.page-header .container {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
/* line 25, ../sass/partials/_navigation.scss */
.page-header .brand {
  flex: 1;
  position: relative;
  z-index: 1;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 25, ../sass/partials/_navigation.scss */
  .page-header .brand {
    flex: none;
  }
}
/* line 34, ../sass/partials/_navigation.scss */
.page-header .brand img {
  height: 2em;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 34, ../sass/partials/_navigation.scss */
  .page-header .brand img {
    height: 2.5em;
  }
}
/* line 43, ../sass/partials/_navigation.scss */
.page-header .main-navigation {
  flex: 1;
  display: flex;
  align-items: center;
  display: block;
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: #ffffff;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 43, ../sass/partials/_navigation.scss */
  .page-header .main-navigation {
    padding: 0;
    padding-left: 4em;
    margin: 0;
    border: 0;
    display: flex;
    position: static;
    z-index: 1;
    justify-content: flex-end;
  }
}
/* line 70, ../sass/partials/_navigation.scss */
.page-header .navigation-list {
  display: none;
  padding: 1rem 15px 0;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 70, ../sass/partials/_navigation.scss */
  .page-header .navigation-list {
    display: block;
    padding: 0;
    background-color: transparent !important;
  }
}
/* line 80, ../sass/partials/_navigation.scss */
.page-header .navigation-list > li {
  display: block;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(2, 48, 96, 0.15);
  margin-bottom: 20px;
  /* Landscape tablets and desktop or laptops */
}
/* line 87, ../sass/partials/_navigation.scss */
.page-header .navigation-list > li:last-child {
  border-bottom: 0;
  margin: 0;
}
@media only screen and (min-width: 992px) {
  /* line 80, ../sass/partials/_navigation.scss */
  .page-header .navigation-list > li {
    display: inline-block;
    border-bottom: 0;
    margin: 0;
    padding: 0;
    margin-right: 4em;
    float: left;
  }
}
/* line 102, ../sass/partials/_navigation.scss */
.page-header .navigation-list > li.active a {
  color: #68BCE2;
}
/* line 107, ../sass/partials/_navigation.scss */
.page-header .navigation-list > li > a {
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  color: #023060;
  border-top: 2px solid transparent;
  transition: opacity 0.3s ease;
  /* Landscape tablets and desktop or laptops */
}
/* line 115, ../sass/partials/_navigation.scss */
.page-header .navigation-list > li > a.active {
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 115, ../sass/partials/_navigation.scss */
  .page-header .navigation-list > li > a.active {
    border-color: secondary;
  }
}
/* line 121, ../sass/partials/_navigation.scss */
.page-header .navigation-list > li > a:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
@media only screen and (min-width: 992px) {
  /* line 107, ../sass/partials/_navigation.scss */
  .page-header .navigation-list > li > a {
    padding: 1em 0;
  }
}
/* line 133, ../sass/partials/_navigation.scss */
.page-header .home-button {
  /* Landscape tablets and desktop or laptops */
}
/* line 134, ../sass/partials/_navigation.scss */
.page-header .home-button .hamburger-box {
  margin-top: 6px;
}
@media only screen and (min-width: 992px) {
  /* line 133, ../sass/partials/_navigation.scss */
  .page-header .home-button {
    display: none;
  }
}
/* line 142, ../sass/partials/_navigation.scss */
.page-header .home-button .menu-btn {
  outline: none;
}

/* line 1, ../sass/partials/_footer.scss */
.main-footer {
  background-color: #023060;
}
/* line 4, ../sass/partials/_footer.scss */
.main-footer .content {
  padding: 60px 0 10px;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 4, ../sass/partials/_footer.scss */
  .main-footer .content {
    padding: 80px 0 20px;
  }
}
/* line 11, ../sass/partials/_footer.scss */
.main-footer .content .brand {
  margin-bottom: 1.5rem;
}
/* line 14, ../sass/partials/_footer.scss */
.main-footer .content .brand .logo {
  width: 6em;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 14, ../sass/partials/_footer.scss */
  .main-footer .content .brand .logo {
    width: 5em;
  }
}
/* line 23, ../sass/partials/_footer.scss */
.main-footer .content .footer-title {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 23, ../sass/partials/_footer.scss */
  .main-footer .content .footer-title {
    margin-bottom: 2rem;
  }
}
/* line 34, ../sass/partials/_footer.scss */
.main-footer .content .footer-text {
  color: white;
  margin-bottom: 0.75rem;
}
/* line 38, ../sass/partials/_footer.scss */
.main-footer .content .footer-text a {
  color: #ffffff;
  transition: all 0.3s ease;
}
/* line 42, ../sass/partials/_footer.scss */
.main-footer .content .footer-text a:hover {
  color: #68BCE2;
  transition: all 0.3s ease;
}
/* line 49, ../sass/partials/_footer.scss */
.main-footer .content .contact-text {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.7em;
  margin-bottom: 1.25rem;
}
/* line 55, ../sass/partials/_footer.scss */
.main-footer .content .contact-text:last-child {
  margin-bottom: 0;
}

/* line 62, ../sass/partials/_footer.scss */
.social-media {
  font-size: 0.7rem;
  color: white;
}
/* line 66, ../sass/partials/_footer.scss */
.social-media li {
  display: inline-block;
  margin: 0 2rem 0 0;
  /* Mobile devices */
}
/* line 70, ../sass/partials/_footer.scss */
.social-media li:last-child {
  margin: 0;
}
@media only screen and (min-width: 576px) {
  /* line 66, ../sass/partials/_footer.scss */
  .social-media li {
    display: block;
    margin: 0 0 0.75rem 0;
  }
}
/* line 79, ../sass/partials/_footer.scss */
.social-media li a {
  color: #ffffff;
  font-size: 1.25rem;
}
/* line 83, ../sass/partials/_footer.scss */
.social-media li a i {
  color: white !important;
  transition: all 0.3s ease;
}
/* line 88, ../sass/partials/_footer.scss */
.social-media li a:hover {
  color: #023060 !important;
  transition: all 0.3s ease;
}
/* line 92, ../sass/partials/_footer.scss */
.social-media li a:hover i {
  color: #68BCE2 !important;
  transition: all 0.3s ease;
}

/* line 101, ../sass/partials/_footer.scss */
.footer-form {
  display: flex;
}
/* line 104, ../sass/partials/_footer.scss */
.footer-form input {
  outline: 0;
}
/* line 108, ../sass/partials/_footer.scss */
.footer-form .email {
  background: transparent;
  border-right: 0;
  border: 1px solid white;
  border-right: 0;
  color: white;
  flex: 1;
  font-size: 0.8rem;
  padding: 0.8em 1em;
}
/* line 118, ../sass/partials/_footer.scss */
.footer-form .email::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}
/* line 123, ../sass/partials/_footer.scss */
.footer-form .email:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
/* line 127, ../sass/partials/_footer.scss */
.footer-form .email::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
/* line 132, ../sass/partials/_footer.scss */
.footer-form .submit {
  background-color: #ffffff;
  border: 0;
  color: #023060;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 20px;
  transition: all 0.4s ease;
}
/* line 142, ../sass/partials/_footer.scss */
.footer-form .submit:hover {
  background-color: #68BCE2;
  transition: all 0.4s ease;
}

/* line 1, ../sass/partials/_hero.scss */
.hero {
  align-items: center;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  display: flex;
  min-height: 300px;
  overflow: hidden;
  position: relative;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 1, ../sass/partials/_hero.scss */
  .hero {
    min-height: 80vh;
  }
}
/* line 15, ../sass/partials/_hero.scss */
.hero:before {
  background: linear-gradient(90.01deg, rgba(2, 48, 96, 0.4) 0.01%, rgba(196, 196, 196, 0) 91.62%);
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
/* line 26, ../sass/partials/_hero.scss */
.hero > * {
  position: relative;
  z-index: 2;
}

/* line 32, ../sass/partials/_hero.scss */
.blog-thumbnail {
  align-items: center;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-bottom: 1rem;
  min-height: 200px;
  /* Landscape tablets and desktop or laptops */
}
@media only screen and (min-width: 992px) {
  /* line 32, ../sass/partials/_hero.scss */
  .blog-thumbnail {
    min-height: 300px;
  }
}

@keyframes up-down-animation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(80%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes right-left-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80%);
  }
  100% {
    transform: translateX(0);
  }
}
/* line 13, ../sass/partials/_animations.scss */
.up-down {
  position: relative;
  animation-name: up-down-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* line 21, ../sass/partials/_animations.scss */
.right-left {
  position: relative;
  animation-name: right-left-animation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* line 2, ../sass/partials/_widgets.scss */
.progress-line figure {
  align-items: center;
  display: flex;
  position: relative;
  /* Tablets and phablets */
}
@media only screen and (min-width: 768px) {
  /* line 8, ../sass/partials/_widgets.scss */
  .progress-line figure:before {
    background-color: black;
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    width: 1px;
    top: 0;
    z-index: 0;
  }
}
/* line 20, ../sass/partials/_widgets.scss */
.progress-line figure img {
  position: relative;
  z-index: 1;
}
/* line 28, ../sass/partials/_widgets.scss */
.progress-line:first-child figure:before {
  bottom: 0;
  top: 50%;
}
/* line 37, ../sass/partials/_widgets.scss */
.progress-line:last-child figure:before {
  bottom: 50%;
  top: 0;
}

/* line 45, ../sass/partials/_widgets.scss */
.social-share-wrapper {
  margin-left: -12px;
}

/* line 1, ../sass/partials/_forms.scss */
.form-wrapper {
  padding: 1.5rem 2.5rem 3rem;
  background-color: #ffffff;
  box-shadow: 0px 3px 15px 0 rgba(46, 61, 73, 0.2);
  border-radius: 0.5em;
}

/* line 9, ../sass/partials/_forms.scss */
.form label {
  display: block;
  font-size: 0.8em;
  font-weight: 600;
  line-height: 1.4em;
  color: #023060;
  margin-bottom: 0.2rem;
  margin-top: 1.5rem;
}
/* line 19, ../sass/partials/_forms.scss */
.form input,
.form select,
.form textarea {
  border: 1px solid gainsboro !Important;
  border-radius: 0.4rem !Important;
  box-shadow: none !important;
  color: black;
  display: block;
  font-weight: 500;
  font-size: 1rem;
  outline: none !important;
  padding: 0.5rem 0.75rem;
  width: 100%;
  transition: all 0.4s ease;
}
/* line 34, ../sass/partials/_forms.scss */
.form input:focus,
.form select:focus,
.form textarea:focus {
  border-color: #68BCE2 !important;
  transition: all 0.4s ease;
}
/* line 40, ../sass/partials/_forms.scss */
.form textarea {
  line-height: 1.5em;
}
/* line 44, ../sass/partials/_forms.scss */
.form br {
  display: none !important;
}

/* line 49, ../sass/partials/_forms.scss */
.wpcf7 .ajax-loader {
  bottom: 4.25rem !important;
  position: absolute !important;
  right: 3rem !important;
}

/* line 55, ../sass/partials/_forms.scss */
.wpcf7-response-output {
  border: 0 !important;
  font-weight: 700;
  padding: 0 !important;
  margin-bottom: 0 !important;
}

/* line 62, ../sass/partials/_forms.scss */
#comments {
  margin: 0 auto;
}

/* line 66, ../sass/partials/_forms.scss */
#comments, #respond, .comments-area, #wpdcom {
  max-width: 100%;
}

/* line 1, ../sass/partials/_backgrounds.scss */
.bg-primary {
  background-color: #023060 !important;
}

/* line 5, ../sass/partials/_backgrounds.scss */
.bg-accent {
  background-color: #F1B54C !important;
}

/* line 9, ../sass/partials/_backgrounds.scss */
.bg-secondary {
  background-color: #68BCE2 !important;
}

/* line 13, ../sass/partials/_backgrounds.scss */
.bg-light {
  background-color: #F1FAFE !important;
}

/* line 17, ../sass/partials/_backgrounds.scss */
.bg-white {
  background-color: #ffffff;
}
